@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <FluentButton OnClick="@Button_Click" Appearance="Appearance.Accent" Style="margin: 24px 0px;">
        Send
    </FluentButton>
    <FluentListbox Items="@Messages" />
</div>