@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        URL Shortener - .NET Orleans
    </FluentHeader>

    <FluentStack Orientation="Orientation.Horizontal" Width="100%" Style="height: calc(100vh - 84px);">
        <FluentNavMenu Width="250">
            <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())" Href="/">Home</FluentNavLink>
        </FluentNavMenu>

        <FluentBodyContent Style="overflow-y: auto;">
            @Body
        </FluentBodyContent>
    </FluentStack>

    <FluentFooter Style="background: var(--neutral-layer-4); padding: 10px;">
        Denis Voituron - Demo 2024
    </FluentFooter>
</FluentLayout>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />